<!--
Progress bars example #4: Height
https://v4-alpha.getbootstrap.com/components/progress/#height
-->

<div class="container mt-5">

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%; height: 0.2rem;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

</div>