<!--
Progress bars example #3: Adding labels to progress bars
https://v4-alpha.getbootstrap.com/components/progress/#labels
-->

<div class="container mt-5">

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>

</div>