<!--
Buttons example #6: Disabled state with <button> element
https://v4-alpha.getbootstrap.com/components/buttons/#disabled-state
-->

<div class="container mt-5">


<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
<button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>


</div>