<!--
Buttons example #9: Checkbox buttons
https://v4-alpha.getbootstrap.com/components/buttons/#checkbox-and-radio-buttons
-->

<div class="container mt-5">


<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Checkbox 2
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Checkbox 3
  </label>
</div>


</div>