<!--
Buttons example #3: Outline buttons
https://v4-alpha.getbootstrap.com/components/buttons/#outline-buttons
-->

<div class="container mt-5">


<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-danger">Danger</button>


</div>