<!--
Utilities: INVISIBLE CONTENT
https://v4-alpha.getbootstrap.com/utilities/invisible-content/
-->

<div class="container mt-5">

<div class="invisible">...</div>
<style>
/*
// Class
.invisible {
  visibility: hidden;
}

// Usage as a mixin
.element {
  @include invisible;
}
*/
</style>



</div>
