<!--
Utilities: CLEARFIX 
https://v4-alpha.getbootstrap.com/utilities/clearfix/
-->

<div class="container mt-5">

<div class="bg-info clearfix">
  <button class="btn btn-secondary float-left">Example Button floated left</button>
  <button class="btn btn-secondary float-right">Example Button floated right</button>
</div>


</div>
