<!--
Utilities: BORDERS 
https://v4-alpha.getbootstrap.com/utilities/borders/#border
-->

<div class="container mt-5">


<span class="border-0"></span>
<span class="border-top-0"></span>
<span class="border-right-0"></span>
<span class="border-bottom-0"></span>
<span class="border-left-0"></span>


<!-- BORDER RADIUS
https://v4-alpha.getbootstrap.com/utilities/borders/#border-radius
-->

<img src="http://placehold.it/75x75" alt="..." class="rounded">
<img src="http://placehold.it/75x75" alt="..." class="rounded-top">
<img src="http://placehold.it/75x75" alt="..." class="rounded-right">
<img src="http://placehold.it/75x75" alt="..." class="rounded-bottom">
<img src="http://placehold.it/75x75" alt="..." class="rounded-left">
<img src="http://placehold.it/75x75" alt="..." class="rounded-circle">
<img src="http://placehold.it/75x75" alt="..." class="rounded-0">

</div>
