<!--
Utilities: POSITION
https://v4-alpha.getbootstrap.com/utilities/position/
-->

<div class="container mt-5">

<!--
https://v4-alpha.getbootstrap.com/utilities/position/#fixed-top
-->
<div class="fixed-top">...</div>

<!--
https://v4-alpha.getbootstrap.com/utilities/position/#fixed-bottom
-->
<div class="fixed-bottom">...</div>

<!--
https://v4-alpha.getbootstrap.com/utilities/position/#sticky-top
-->
<div class="sticky-top">...</div>


</div>
