<!--
Utilities: TYPOGRAPHY 
https://v4-alpha.getbootstrap.com/utilities/typography/
-->

<div class="container mt-5">

<!-- 
text alignment
https://v4-alpha.getbootstrap.com/utilities/typography/#text-alignment
-->
<p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>

<br>

<div class="card">
  <div class="card-block text-nowrap">
    Curabitur blandit tempus ardua ridiculus sed magna.
  </div>
</div>

<br>

<!--
text left, center, right - on all resolutions, OR on specific viewport sizes
-->
<p class="text-left">Left aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-right">Right aligned text on all viewport sizes.</p>

<p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
<p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>

<!--
TEXT TRANSFORM
https://v4-alpha.getbootstrap.com/utilities/typography/#text-transform
-->
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">CapiTaliZed text.</p>

<!--
FONT WEIGHT AND ITALICS
https://v4-alpha.getbootstrap.com/utilities/typography/#font-weight-and-italics
-->
<p class="font-weight-bold">Bold text.</p>
<p class="font-weight-normal">Normal weight text.</p>
<p class="font-italic">Italic text.</p>



</div>
