<!--
Utilities: SPACING 
https://v4-alpha.getbootstrap.com/utilities/spacing/
-->

<div class="container mt-5">


<!--
horizontal centering
-->
<div class="mx-auto" style="width: 200px;">
  Centered element
</div>


</div>
