<!--
Utilities: FLEXBOX
https://v4-alpha.getbootstrap.com/utilities/flexbox/
-->

<div class="container mt-5">


<!-- 
enable flex behaviors
https://v4-alpha.getbootstrap.com/utilities/flexbox/#enable-flex-behaviors 
-->

<div class="d-flex p-2">I'm a flexbox container!</div>
<div class="d-inline-flex p-2">I'm an inline flexbox container!</div>

<!--
flexbox direction
https://v4-alpha.getbootstrap.com/utilities/flexbox/#direction
-->

<div class="d-flex flex-row">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>
<div class="d-flex flex-row-reverse">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>

<!-- 
using .flex-column and .flex-column-reverse
-->

<div class="d-flex flex-column">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>
<div class="d-flex flex-column-reverse">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>

<!--
justify content
https://v4-alpha.getbootstrap.com/utilities/flexbox/#justify-content
-->

<div class="d-flex justify-content-start">...</div>
<div class="d-flex justify-content-end">...</div>
<div class="d-flex justify-content-center">...</div>
<div class="d-flex justify-content-between">...</div>
<div class="d-flex justify-content-around">...</div>

<!--
align items
https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-items
-->

<div class="d-flex align-items-start">...</div>
<div class="d-flex align-items-end">...</div>
<div class="d-flex align-items-center">...</div>
<div class="d-flex align-items-baseline">...</div>
<div class="d-flex align-items-stretch">...</div>

<!--
align self
https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-self
-->

<div class="align-self-start">Aligned flex item</div>
<div class="align-self-end">Aligned flex item</div>
<div class="align-self-center">Aligned flex item</div>
<div class="align-self-baseline">Aligned flex item</div>
<div class="align-self-stretch">Aligned flex item</div>


<!--
Auto margins with justify content
https://v4-alpha.getbootstrap.com/utilities/flexbox/#auto-margins
https://v4-alpha.getbootstrap.com/utilities/flexbox/#with-justify-content
-->

<div class="d-flex justify-content-end">
  <div class="mr-auto p-2">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex justify-content-start">
  <div class="p-2">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="ml-auto p-2">Flex item</div>
</div>


<!-- 
Auto-margins with align items
https://v4-alpha.getbootstrap.com/utilities/flexbox/#with-align-items
-->

<div class="d-flex align-items-start flex-column" style="height: 200px;">
  <div class="mb-auto p-2">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex align-items-end flex-column" style="height: 200px;">
  <div class="p-2">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="mt-auto p-2">Flex item</div>
</div>

<!--
Flex-nowrap
https://v4-alpha.getbootstrap.com/utilities/flexbox/#wrap
-->

<div class="d-flex flex-nowrap">
  ...
</div>

<!--
Flex-wrap
https://v4-alpha.getbootstrap.com/utilities/flexbox/#wrap
-->
<div class="d-flex flex-wrap">
  ...
</div>

<!--
flex-wrap-reverse
https://v4-alpha.getbootstrap.com/utilities/flexbox/#wrap
-->
<div class="d-flex flex-wrap-reverse">
  ...
</div>

<!--
order
https://v4-alpha.getbootstrap.com/utilities/flexbox/#order
-->

<div class="d-flex flex-nowrap">
  <div class="flex-last p-2">First flex item</div>
  <div class="p-2">Second flex item</div>
  <div class="flex-first p-2">Third flex item</div>
</div>

<!--
Align content start
https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-content
-->

<div class="d-flex align-content-start flex-wrap">
  ...
</div>


<!--
Align content center, end, between, around, stretch
https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-content
-->
<div class="d-flex align-content-end flex-wrap">...</div>

<h2>Note that breakpoint-specific variations exist for all flex classes!</h2>

</div>
