<!--
Breadcrumbs example #1: Without the list markup (without ol and li)
https://v4-alpha.getbootstrap.com/components/breadcrumb/#content
-->

<div class="container mt-5">


<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Home</a>
  <a class="breadcrumb-item" href="#">Library</a>
  <a class="breadcrumb-item" href="#">Data</a>
  <span class="breadcrumb-item active">Bootstrap</span>
</nav>


</div>