<!--
Navbars example #9: "Various buttons are supported ..."
https://v4-alpha.getbootstrap.com/components/navbar/#forms
-->

<div class="container-fluid mt-5">


<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button">Smaller button</button>
  </form>
</nav>


</div>