<!--
Navbars example #2: Brand
https://v4-alpha.getbootstrap.com/components/navbar/#brand
-->

<div class="container-fluid mt-5">


<!-- As a link -->
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>

<!-- As a heading -->
<nav class="navbar navbar-light bg-faded mt-5">
  <h1 class="navbar-brand mb-0">Navbar</h1>
</nav>

<!-- Just an image -->
<nav class="navbar navbar-light bg-faded mt-5">
  <a class="navbar-brand" href="#">
    <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav>

<!-- Image and text -->
<nav class="navbar navbar-light bg-faded mt-5">
  <a class="navbar-brand" href="#">
    <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>

</div>