<!--
Navbars example #10: Text in navbars
https://v4-alpha.getbootstrap.com/components/navbar/#text
-->

<div class="container-fluid mt-5">


<nav class="navbar navbar-light bg-faded">
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
</nav>


</div>