<!--
Navbars example #6: Forms in navbars
https://v4-alpha.getbootstrap.com/components/navbar/#forms
-->

<div class="container-fluid mt-5">


<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


</div>