<!--
Navbars example #8: "Input groups work, too:"
https://v4-alpha.getbootstrap.com/components/navbar/#forms
-->

<div class="container-fluid mt-5">


<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
  </form>
</nav>


</div>