<!--
Navbars example #7: "Align the contents of your inline forms with utilities as needed."
https://v4-alpha.getbootstrap.com/components/navbar/#forms
-->

<div class="container-fluid mt-5">


<nav class="navbar navbar-light bg-faded justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


</div>