<!--
Forms example #29: File browser
https://v4-alpha.getbootstrap.com/components/forms/#file-browser
-->

<div class="container mt-5">


<label class="custom-file">
  <input type="file" id="file" class="custom-file-input">
  <span class="custom-file-control"></span>
</label>


</div>

<script>

// Translating or customizing the strings:
// https://v4-alpha.getbootstrap.com/components/forms/#translating-or-customizing-the-strings
$custom-file-text: (
  placeholder: (
    en: "Choose file...",
    es: "Seleccionar archivo..."
  ),
  button-label: (
    en: "Browse",
    es: "Navegar"
  )
);
</script>