<!--
Forms example #15: Readonly inputs
https://v4-alpha.getbootstrap.com/components/forms/#readonly-inputs
-->

<div class="container mt-5">


<form>
  <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
</form>


</div>