<!--
Forms example #19: Inline help text in forms
https://v4-alpha.getbootstrap.com/components/forms/#inline-1
-->

<div class="container mt-5">


<form class="form-inline">
  <div class="form-group">
    <label for="inputPassword4">Password</label>
    <input type="password" id="inputPassword4" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
    <small id="passwordHelpInline" class="text-muted">
      Must be 8-20 characters long.
    </small>
  </div>
</form>


</div>