<!--
Forms example #11: Checkboxes and radio buttons without labels 
https://v4-alpha.getbootstrap.com/components/forms/#without-labels
-->

<div class="container mt-5">


<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
  </label>
</div>


</div>