<!--
Forms example #23: Custom checkboxes
https://v4-alpha.getbootstrap.com/components/forms/#checkboxes
-->

<div class="container mt-5">


<label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Check this custom checkbox</span>
</label>


</div>