<!--
Cards example #15: Navigation in cards using Bootstrap's nav tab components
https://v4-alpha.getbootstrap.com/components/card/#navigation
enabling tabbed navs with data-attributes:
https://v4-alpha.getbootstrap.com/components/navs/#using-data-attributes
-->

<div class="container mt-5">


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


</div>