<!--
Cards example #10: Card Header and Footer, example 4 - card with centered text
https://v4-alpha.getbootstrap.com/components/card/#header-and-footer
-->

<div class="container mt-5">


<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


</div>