<!--
Cards example #4: Card images
https://v4-alpha.getbootstrap.com/components/card/#images
-->

<div class="container mt-5">


<div class="card">
  <img class="card-img-top" src="http://lorempixel.com/800/200/technics/" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


</div>