<!--
Cards example #8: Card Header and Footer, example 2
https://v4-alpha.getbootstrap.com/components/card/#header-and-footer
-->

<div class="container mt-5">


<div class="card">
  <h3 class="card-header">Featured</h3>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


</div>