<!--
Cards example #5: List groups in cards
https://v4-alpha.getbootstrap.com/components/card/#list-groups
-->

<div class="container mt-5">


<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>


</div>