<!--
Popovers example #1: Enable popovers everywhere + LIVE demo
https://v4-alpha.getbootstrap.com/components/popovers/#live-demo
-->

<div class="container mt-5">

<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>