<!--
Navs example #5: Vertical nav without <ul> elements
https://v4-alpha.getbootstrap.com/components/navs/#vertical
-->

<div class="container mt-5">


<nav class="nav flex-column">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>


</div>