<!--
Alerts example #4: Dismissing 
https://v4-alpha.getbootstrap.com/components/alerts/#dismissing
-->

<div class="container mt-5">


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>


</div>

<script>
// Enable dismissal on an alert via JavaScript

$(".alert").alert();

</script>