<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_badges/_badges-01.ejs") %>
<%- partial("partial/_components/_badges/_badges-02.ejs") %>
<%- partial("partial/_components/_badges/_badges-03.ejs") %>

</div>