<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_popovers/_popovers-01.ejs") %>
<%- partial("partial/_components/_popovers/_popovers-02.ejs") %>
<%- partial("partial/_components/_popovers/_popovers-03.ejs") %>

</div>