<!--
Button groups example #1: Basic example
https://v4-alpha.getbootstrap.com/components/button-group/#basic-example
-->

<div class="container mt-5">


<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>


</div>