<!--
Dropdowns example #9: Dropdown menu headers
https://v4-alpha.getbootstrap.com/components/dropdowns/#menu-headers
-->

<div class="container mt-5">


<div class="dropdown-menu">
  <h6 class="dropdown-header">Dropdown header</h6>
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
</div>


</div>