<!--
Carousels example #04: With captions
https://v4-alpha.getbootstrap.com/components/carousel/#with-captions
-->

<div class="container mt-5">


<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicator2s" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="http://lorempixel.com/1200/400/cats/" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://lorempixel.com/1200/400/food/" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://lorempixel.com/1200/400/animals/" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>